body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #007bff;
}

.coin-inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}

.coin-inputs label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.coin-inputs input {
    width: 50px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: right;
}

.btn {
    display: block;
    width: calc(100% - 40px);
    padding: 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    cursor: pointer;
    margin: 10px auto;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

h2 {
    margin-top: 20px;
}

#savingsGoals {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.goal {
    padding: 10px;
    background-color: #e0e0e0;
    border-radius: 5px;
    flex: 1;
    text-align: center;
    margin: 5px;
    transition: background-color 0.3s ease;
}

.goal.achieved {
    background-color: rgba(255, 215, 0, 0.5);
    border: 1px solid #ffd700;
}
